@import "tailwindcss";

* {
  cursor: url('/img/pink-cursor.PNG'), auto;
}

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

/* utility: press start 2p font */
.font-press-start {
  font-family: var(--font-press-start), system-ui, sans-serif;
}


.font-dokdo {
  font-family: "Dokdo", ui-sans-serif;
  font-size: 1.75rem;
}

.font-vt323 {
  font-family: var(--font-vt323), monospace;
}

.font-courier-prime {
  font-family: var(--font-courier-prime), monospace;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

.text-outline {
  -webkit-text-stroke: 1px black;
}

@keyframes fall {
  0% {
    transform: translateY(-100vh) rotate(0deg);
    opacity: 0.1;
  }
  90% {
    opacity: 0.1;
  }
  100% {
    transform: translateY(100vh) rotate(360deg);
    opacity: 0;
  }
}

.fall-1 { animation: fall 8s linear infinite; }
.fall-2 { animation: fall 10s linear 0.5s infinite; }
.fall-3 { animation: fall 12s linear 0.3s infinite; }
.fall-4 { animation: fall 9s linear 0.2s infinite; }
.fall-5 { animation: fall 11s linear 0.7s infinite; }

/* line wiggle */
.wavy-underline {
  position: relative;
  transition: all 0.3s;
}

.wavy-underline::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 4px;
  background: linear-gradient(to right, #EC6BA7 0%, #EC6BA7 100%);
  transition: all 0.3s;
}

.group:hover .wavy-underline::after {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 20 4'%3E%3Cpath d='M0 2 Q 2.5 0, 5 2 T 10 2 T 15 2 T 20 2' stroke='%23547DFD' stroke-width='2' fill='none'/%3E%3C/svg%3E");
  background-size: 20px 4px;
  background-repeat: repeat-x;
  height: 4px;
  animation: wave-move 1s linear infinite;
}

@keyframes wave-move {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: 20px 0;
  }
}

@keyframes typewriter {
  from { width: 0; }
  to   { width: 100%; }
}

@keyframes blink {
  50% { border-color: transparent; }
}

.animate-typewriter {
  display: inline-block;
  overflow: hidden;
  white-space: nowrap;
  width: 0;
  animation: typewriter 0.4s steps(30, end) forwards;
}